@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #081b29;
    color: #ededed;
    margin: 0;
}

.background{
    background-image: url(./Portfolio.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: 0.3s;
}

.logo{
    font-size: 35px;
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.logo .red{
    color: #00abf0;
}

#menu-icon{
    font-size: 3rem;
    color: #ededed;
    cursor: pointer;
    display: none;
}

.navbar .active{
    color: #00abf0;
}

.navbar a{
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: 0.3s;
}

.navbar a:hover{
   color: #00abf0;
}

.home{
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
    transition: 0.5s;
}

.home-content{
    max-width: 700px;
}

.home-content h1{
    position: relative;
    font-size: 59px;
    font-weight: 700;
    line-height: 1.2;
}

.home-content h1::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content h3{
    position: relative;
    font-size: 35px;
    font-weight: 700;
    color: #00abf0;
}

.home-content h3::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.2s;
}

.home-content p{
    position: relative;
    text-align: justify;
    text-indent: 30px;
    font-size: 19px;
    margin: 20px 0 40px;
}

.home-content p::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.5s;
}

/* ------------about--------------- */

#about{
    padding: 40px 10%;
    color: #ededed;
}

.about .row{
    display: flex;
    justify-content: space-between;
}

.about-col-1{
    flex-basis: 35%;
}

.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}

.about-col-2{
    flex-basis: 60%;
}

.sub-title{
    font-size: 60px;
    font-weight: 600;
}

.about-col-2 p{
    text-align: justify;
    text-indent: 30px;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    color: #00abf0;
    margin-right: 50px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ededed;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 80%;
}

.tab-contents ul li{
    /* list-style: none; */
    margin: 10px 0;
}

.tab-contents ul li span{
    color: #00abf0;
    font-size: 16px;
    font-weight: 500;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}

/* ----------myWork-------------- */

#mywork{
    padding: 30px 0;
}

.container{
    margin: 0 10%;
    text-align: center;
}

.work-list{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(100px, 350px));
    grid-gap: 80px;
    margin-top: 40px;
}

.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #00abf0);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3{
    color: #ededed;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}

.layer a{
    margin-top: 20px;
    color: #081b29;
    text-decoration: none;
    font-size: 25px;
    line-height: 65px;
    background: #ededed;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.work:hover img{
    transform: scale(1.1);
}

.work:hover .layer{
    height: 100%;
}

.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #00abf0;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #ededed;
    transition: background 0.4s;
}

.btn:hover{
    background: #00abf0;
}

/* ------------contact----------- */

#contact{
    margin-bottom: 20px;
}

.contact-row{
    display: flex;
    justify-content: space-between;
}

.contact-left{
    flex-basis: 35%;
    text-align: left;
}

.contact-left p i{
    color: #ededed;
    margin-right: 5px;
    font-size: 20px;
}

.contact-right{
    flex-basis: 60%;
}

.social-icons{
    margin-top: 30px;
}

.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ededed;
    display: inline-block;
    transition: transform 0.5s;
    margin-bottom: 30px;
}

.social-icons a:hover{
    color: #00abf0;
    transform: translateY(-5px);
}

.btn2{
    margin: 50px auto;
    width: fit-content;
    background-color: #00abf0;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #ededed;
    transition: background 0.4s;
    margin-bottom: 30px;
}

.contact-right form{
    width: 100%;
}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #ededed;
    padding: 15px;
    margin: 15px 0;
    font-size: 18px;
    border-radius: 6px;
}

form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background-color: #00abf0;
    font-weight: 300;
    margin-top: 20px;
}

.copyright i{
    font-size: 15px;
}

#msg{
    color: #61b752;
    margin-top: -20px;
    display: block;
}

/* KEYFRAMES ANIMATION */

@keyframes showRight{
    100%{
       width: 0;
    }
}


/* ------------responsive codes-------------------- */


@media (max-width: 1370px){

    .home-content{
        margin-top: 60px;
        max-width: 500px;
    }

    .home .home-content h1{
        font-size: 50px;
    }

    .home .home-content h3{
        font-size: 31px;
    }

    .home .home-content p{
        font-size: 19px;
    }
}


@media (max-width: 1200px){

    .home-content{
        margin-top: 60px;
        max-width: 500px;
    }

    .home .home-content h1{
        font-size: 45px;
    }

    .home .home-content h3{
        font-size: 29px;
    }

    .home .home-content p{
        font-size: 19px;
    }
}

@media (max-width: 990px){
    .header{
        padding: 20px 6%;
    }

    .home{
        margin-top: 20px;
        padding: 0 6%;
    }
}

@media (max-width: 785px){

    .background{
        background-image: none;
    }

    .header{
        padding: 0px 4%;
    }

    .home{
        margin-top: 20px;
        padding: 0 4%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 750px){
    .background{
        background-image: none;
    }

    #menu-icon{
        font-size: 2.5rem;
        display: block;
    }

    .navbar{
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100%;
        padding: 0 5%;
        background-color: #00abf0;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
        transition: .25s ease;
        transition-delay: .25s;
        z-index: 1;
    }

    .navbar.active{
        left: 0;
        transition-delay: 0s;
    }

    .navbar .active-nav {
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: #081b29;
        border-top: .1rem solid rgba(0, 0, 0, .2);
        z-index: -1;
        transition: .25s ease;
        transition-delay: 0s;
    }

    .navbar.active .active-nav {
        left: 0;
        transition-delay: .25s;
    }

    .navbar a{
        display: block;
        font-size: 1.6rem;
        margin: 2rem 0;
        transform: translateX(-20rem);
        transition: .25s ease;
        transition-delay: 0s;
    }

    .navbar.active a{
        transform: translateY(0);
        transition-delay: 0.25s;
    }

    .home{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 525px){
    .home-content{
        margin-top: 60px;
        max-width: none;
    }

    .home .home-content h1{
        font-size: 38px;
    }

    .home .home-content h3{
        font-size: 25px;
    }

    .home .home-content p{
        font-size: 18px;
    }
}

@media (max-width: 460px){

    .header{
        padding: 20px 2%;
    }

    .home-content{
        margin-top: 50px;
        max-width: none;
    }

    .home .home-content h1{
        font-size: 33px;
    }

    .home .home-content h3{
        font-size: 22px;
    }

    .home .home-content p{
        font-size: 16px;
    }
}

@media (max-width: 376px){

    /* ----------------home--------------- */

    .background{
        width: 500px;
    }
    
    .header{
        width: 500px;
    }

    .home{
        margin-top: 120px;
        margin-bottom: 50px;
    }

    .home .home-content h1{
        font-size: 45px;
    }

    .home .home-content h3{
        font-size: 31px;
    }

    .home .home-content p{
        font-size: 19px;
    }

    /* ----------------about--------------- */

    .about{
        width: 500px;
    }

    .about .row{
        display: block;
    }

    .about-col-1{
        margin-left: 8px;
    }

    /* --------------myWork-------------- */

    .mywork{
        width: 450px;
    }

    /* ------------contact--------------- */

    .contact{
        width: 435px;
    }

    .contact .contact-row{
        display: block;
    }

    .contact-left{
        margin-bottom: 60px;
    }

    .contact-left h1{
        text-align: center;
    }

    .contact-left p{
        text-align: center;
    }

    .contact-left .social-icons{
        margin-left: 158px;
    }

    .download-cv{
        margin-left: 115px;
    }

    /* ----------footer-------------- */

    .copyright{
        width: 500px;
    }    
}